/*component default css*/

.pollscolor1{ border: 2px ridge; }

.pollscolor2{ border: 2px ridge; }

.pollscolor3{ border: 2px ridge; }

.pollscolor4{ border: 2px ridge; }

.pollscolor5{ border: 2px ridge; }
