
.pollscolor1{ background-color: #8D1B1B; }

.pollscolor2{ background-color: #6740E1; border: #4169E1; }

.pollscolor3{ background-color: #8D8D8D; border: #D2D2D2; }

.pollscolor4{ background-color: #CC8500; border: #FFA500; }

.pollscolor5{ background-color: #5B781E; border: #6B8E23; }


