.dkbot_content_vote {
  font-size        : 10px;
  height           : 22px;
  padding-top      : 2px;
  padding-bottom   : 2px;
}
.dkbot_content_rating {
  font-size        : 10px;
  color            : #CC9900;
}

